In [2]:
import pandas
import numpy
import glob
import csv
import pydatastream
from pydatastream import Datastream
import os

In [6]:
df = pandas.read_csv('csvs/shanghai_equities_inactive_dates.csv')

In [17]:
df[df['WC07015'].notnull()]

      Unnamed: 0  CCY  SYMBOL              WC07015
1099        1099  NaN  CN:ACG  2004-09-15 00:00:00
1101        1101  NaN  CN:BAC  2007-12-26 00:00:00
1102        1102  NaN  CN:NEH  2004-09-22 00:00:00
1103        1103  NaN  CN:CXV  2010-01-05 00:00:00
1104        1104  NaN  CN:CNR  2015-05-21 00:00:00
1105        1105  NaN  CN:CKG  2015-05-26 00:00:00
1106        1106  NaN  CN:CSI  2005-09-16 00:00:00
1107        1107  NaN  CN:DAL  2004-09-15 00:00:00
1108        1108  NaN  CN:DLP  2007-12-13 00:00:00
1109        1109  NaN  CN:DBO  2008-02-19 00:00:00
1110        1110  NaN  CN:FUJ  2006-03-23 00:00:00
1111        1111  NaN  CN:HCM  2012-03-20 00:00:00
1112        1112  NaN  CN:SIC  2005-08-05 00:00:00
1113        1113  NaN  CN:HAC  2005-09-22 00:00:00
1114        1114  NaN  CN:HIS  2010-01-05 00:00:00
1115        1115  NaN  CN:HTA  2011-02-18 00:00:00
1116        1116  NaN  CN:HAH  2005-12-31 00:00:00
1117        1117  NaN  CN:HNP  2013-07-15 00:00:00
1119        1119  NaN  CN:NGC  2007-05-28 00:00:00
1120        1120  NaN  CN:HNN  2009-03-02 00:00:00
1121        1121  NaN  CN:YST  2007-06-04 00:00:00
1122        1122  NaN  CN:LAI  2012-02-28 00:00:00
1123        1123  NaN  CN:LZA  2007-04-30 00:00:00
1124        1124  NaN  CN:NWT  2014-06-05 00:00:00
1125        1125  NaN  CN:NEC  2010-02-26 00:00:00
1126        1126  NaN  CN:PET  2006-09-01 00:00:00
1128        1128  NaN  CN:SXB  2005-09-20 00:00:00
1129        1129  NaN  CN:SPA  2006-09-01 00:00:00
1130        1130  NaN  CN:ASH  2010-01-25 00:00:00
1131        1131  NaN  CN:SCJ  2003-09-22 00:00:00
...          ...  ...     ...                  ...
1136        1136  NaN  CN:SZP  2010-02-12 00:00:00
1137        1137  NaN  CN:SAD  2007-04-30 00:00:00
1138        1138  NaN  CN:SDS  2011-08-23 00:00:00
1140        1140  NaN  CN:SEA  2008-12-16 00:00:00
1141        1141  NaN  CN:QPC  2006-04-21 00:00:00
1142        1142  NaN  CN:DMD  2005-03-25 00:00:00
1143        1143  NaN  CN:SXD  2009-08-31 00:00:00
1144        1144  NaN  CN:XNL  2005-09-21 00:00:00
1147        1147  NaN  30165K  2004-11-18 00:00:00
1151        1151  NaN  CN:SZR  2006-03-24 00:00:00
1158        1158  NaN  28027T  2002-10-08 00:00:00
1172        1172  NaN  86751V  2016-04-11 00:00:00
1178        1178  NaN  67770H  2011-08-19 00:00:00
1189        1189  NaN  8749Y6  2015-08-11 00:00:00
1197        1197  NaN  87071D  2011-01-19 00:00:00
1199        1199  NaN  86967C  2011-09-16 00:00:00
1211        1211  NaN  68159T  2015-11-23 00:00:00
1212        1212  NaN  27612M  2014-07-11 00:00:00
1236        1236  NaN  27612E  2015-11-23 00:00:00
1268        1268  NaN  86981F  2015-11-19 00:00:00
1269        1269  NaN  68143E  2015-11-19 00:00:00
1282        1282  NaN  41667T  2006-10-20 00:00:00
1283        1283  NaN  CN:SSU  2003-02-21 00:00:00
1291        1291  NaN  CN:SBX  2009-12-04 00:00:00
1293        1293  NaN  CN:SGR  2005-09-22 00:00:00
1296        1296  NaN  27609F  2005-05-11 00:00:00
1322        1322  NaN  51680T  2007-12-21 00:00:00
1327        1327  NaN  27612K  2013-11-15 00:00:00
1328        1328  NaN  8708NT  2013-11-12 00:00:00
1330        1330  NaN  27613D  2012-02-14 00:00:00

[64 rows x 4 columns]

In [9]:
data = DWE.fetch('CN:CHC', DATATYPES, freq='M')

In [10]:
data

              MTBV      MV      P       PE    PTBV         VA        VO
2006-04-15   30.76   384.1   1.67      NaN   30.76        NaN   19362.6
2006-05-15   37.76   471.5   2.05      NaN   37.76        NaN   21260.0
2006-06-15   42.18   526.7   2.29      NaN   42.18        NaN   43599.2
2006-07-15   42.92   535.9   2.33      NaN   42.92        NaN   16414.6
2006-08-15   43.84   547.4   2.38      NaN   43.84        NaN   17694.7
2006-09-15   57.84   722.2   3.14      NaN   57.84        NaN   76217.4
2006-10-15   64.84   809.6   3.52      NaN   64.84        NaN   47306.6
2006-11-15   58.94   736.0   3.20      NaN   58.94        NaN   72392.2
2006-12-15   54.70   683.1   2.97      NaN   54.71        NaN   63895.8
2007-01-15   25.10   683.1   2.97      NaN   25.10        NaN       NaN
2007-02-15   28.74   782.0   3.40      NaN   28.74        NaN  125976.9
2007-03-15   41.33  1124.7   4.89      NaN   41.33        NaN  118456.8
2007-04-15   54.77  1490.4   6.48      NaN   54.77        NaN  209471.6
2007-05-15   85.54  2327.6  10.12      NaN   85.54        NaN  179058.4
2007-06-15   92.72  2523.1  10.97      NaN   92.72        NaN  161455.8
2007-07-15   68.21  1856.1   8.07      NaN   68.21        NaN  104874.6
2007-08-15   82.50  2244.8   9.76      NaN   82.50        NaN   52019.1
2007-09-15   82.50  2244.8   9.76     63.1   82.50        NaN       NaN
2007-10-15   82.50  2244.8   9.76     63.1   82.50        NaN       NaN
2007-11-15   59.17  1610.0   7.00     42.8   59.17        NaN   46100.9
2007-12-15   72.94  1984.9   8.63     52.8   72.94        NaN   23424.3
2008-01-15   90.45  2555.3  11.11     68.0   90.45        NaN   79875.6
2008-02-15   70.10  1980.3   8.61     52.7   70.10        NaN   35120.5
2008-03-15   62.44  1764.1   7.67     43.6   62.44        NaN   48843.9
2008-04-15   56.09  1584.7   6.89     39.1   56.09        NaN   28038.4
2008-05-15   56.09  1584.7   6.89     55.5   56.09        NaN       NaN
2008-06-15   56.09  1584.7   6.89     55.5   56.09        NaN       NaN
2008-07-15   48.85  1380.0   6.00     48.4   48.85    79692.8   35316.0
2008-08-15   43.88  1239.7   5.39     43.5   43.88   136832.5   22590.0
2008-09-15   30.04   848.7   3.69  10542.9   30.04    45935.1   10483.3
...            ...     ...    ...      ...     ...        ...       ...
2013-11-15   59.35  1876.8   8.16    480.0   59.35   479101.1   59363.6
2013-12-15   52.00  1644.5   7.15    420.6   52.00   300167.7   38873.4
2014-01-15   40.26  1559.4   6.78    398.8   40.26   188702.8   27674.2
2014-02-15   43.65  1690.5   7.35    432.4   43.65   135699.3   19367.5
2014-03-15   42.22  1635.3   7.11    218.8   42.22   162629.2   22925.1
2014-04-15   43.88  1699.7   7.39    227.4   43.88   263874.9   36010.4
2014-05-15   40.62  1573.2   6.84    213.7   40.62   125699.5   17908.9
2014-06-15   41.09  1591.6   6.92    216.2   41.09   106578.5   15776.2
2014-07-15   44.54  1725.0   7.50    234.4   44.54   225275.4   31621.1
2014-08-15   46.50  1800.9   7.83    244.7   46.50   406034.4   54339.6
2014-09-15   55.23  2139.0   9.30    200.4   55.23   558967.4   65023.5
2014-10-15   61.88  2396.6  10.42    224.6   61.88   678137.6   70295.8
2014-11-15   62.77  2431.1  10.57    568.3   62.77   860825.9   80209.4
2014-12-15   68.17  2640.4  11.48    617.2   68.17  1150320.0  101874.5
2015-01-15   64.07  2481.7  10.79    580.1   64.07   833976.6   73823.9
2015-02-15   69.48  2691.0  11.70    629.0   69.48   132477.4   11759.7
2015-03-15   69.48  2691.0  11.70    629.0   69.48        NaN       NaN
2015-04-15   69.48  2691.0  11.70    629.0   69.48        NaN       NaN
2015-05-15   69.48  2691.0  11.70    305.5   69.48        NaN       NaN
2015-06-15  123.76  4793.2  20.84    544.1  123.75  3675208.0  191025.9
2015-07-15   62.83  2433.4  10.58    276.2   62.83  3351526.0  235913.9
2015-08-15   91.03  3525.9  15.33    260.3   91.03  2186754.0  164290.5
2015-09-15   62.71  2428.8  10.56    179.3   62.71  1613011.0  134663.8
2015-10-15   83.61  3238.4  14.08    239.0   83.61  1320073.0  112099.6
2015-11-15   91.93  3560.4  15.48    270.2   91.92   912105.2   61257.5
2015-12-15  141.51  5480.9  23.83    415.9  141.51  3722831.0  175638.4
2016-01-15   92.16  3569.6  15.52    270.9   92.16  2002554.0   93585.3
2016-02-15  110.16  4266.5  18.55    323.7  110.15  1052863.0   60469.8
2016-03-15  120.61  4671.3  20.31    354.5  120.61  1431386.0   80241.8
2016-04-15  141.10  5464.8  23.76    414.7  141.09  1872473.0   87964.3

[121 rows x 7 columns]